{
  "extends": ["react-app"],
  "plugins": ["react-hooks", "simple-import-sort"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "no-multiple-empty-lines": "error",
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": ["error", "always"],
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-tabs": "error",
    "no-unused-vars": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  }
}
